<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bimface.example.quick.dao.mapper.ExampleQuickFileMapper">
  <resultMap id="BaseResultMap" type="com.bimface.example.quick.dao.model.ExampleQuickFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="length" jdbcType="BIGINT" property="length" />
    <result column="translate_status" jdbcType="VARCHAR" property="translateStatus" />
    <result column="databag_status" jdbcType="VARCHAR" property="databagStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>